{% extends "layout.html" %} {% block content %} {% for app in data %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ app.app_name }}</h5>
    <ul>
      <li>Ticket Number : {{ app.id }}</li>
      <li>Student Roll No : {{ app.stud_roll_no}}</li>
      <li>
        Status : status : {% if app.status %} verified {%else %} pending
        {%endif%}
      </li>
      {% for doc in docs %} {% if doc.app_id == app.id %}
      <li>
        <a href="#">{{ doc.filename }}</a>
      </li>
      {% endif %} {%endfor %}
    </ul>
    {% if app.status == False%}
    <div class="btn-group" role="group">
      <a href="{{ url_for('approve', app_id=app.id) }}" class="btn btn-success"
        >Approve</a
      >
      <a href="{{ url_for('reject', app_id=app.id) }}" class="btn btn-danger"
        >Reject</a
      >
    </div>
    {% endif %}
  </div>
</div>
{% endfor %} {% endblock %}
