{% extends "layout.html" %}
{% block content %}
<div class="scholarship-list col-md-6 mx-auto mt-4">
    {% for sch in data %}
<div class="card mb-4">
  <div class="card-header">
    {{ sch.name }}
  </div>
  <div class="card-body">
      <p>
          {{ sch.description }}
      </p>
      <p>
        <b>Closing Date : </b> {{sch.closing_date}}
      </p>
      <p>
        <b>Eligibility</b>
        <ul>
          <li>Program : {{ sch.program }}</li>
          <li>Gender : {{ sch.gender }}</li>
          <li>Caste : {{ sch.caste }}</li>
          <li>Departement : {{sch.department}}</li>
          <li>Min CGPA : {{ sch.required_cgpa }}</li>
        </ul>
      </p>
    {% if sch.external_link %}
      <a href="https://{{ sch.external_link }}" class="btn btn-primary btn-sm" target="_blank">Apply Externally &#x2197;</a>
    {%else%}
      <a href="{{ url_for('apply_scholarship', sch_slug=sch.slug) }}" class="btn btn-primary btn-sm">Apply</a>
    {%endif%}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}