{% extends "layout.html" %} {% block content %}
<h1>Student Registration</h1>
<form action="" , method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group col-md-6">
    {{ form.roll_no.label(class="form-control-label") }} {% if form.roll_no.errors %}
    {{ form.roll_no(class="form-control is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.roll_no.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.roll_no(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.name.label(class="form-control-label") }} {% if
    form.name.errors %} {{ form.name(class="form-control
    is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.name.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.name(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.email.label(class="form-control-label") }} {% if
    form.email.errors %} {{ form.email(class="form-control
    is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.email.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.email(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.password.label(class="form-control-label") }} {% if
    form.password.errors %} {{ form.password(class="form-control
    is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.password(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.confirm_password.label(class="form-control-label") }} {% if form.confirm_password.errors
    %} {{ form.confirm_password(class="form-control is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.confirm_password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.confirm_password(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.branch.label(class="form-control-label") }} {% if form.branch.errors
    %} {{ form.branch(class="form-control is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.branch.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.branch(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.caste.label(class="form-control-label") }} {% if
    form.caste.errors %} {{ form.caste(class="form-control is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.caste.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.caste(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.caste.label(class="form-control-label") }} {% if
    form.caste.errors %} {{ form.caste(class="form-control
    is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.caste.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.caste(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.gender.label(class="form-control-label") }} {% if
    form.gender.errors %} {{ form.gender(class="form-control
    is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.gender.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.gender(class="form-control") }} {% endif %}
  </div>

  <div class="form-group col-md-6">
    {{ form.cgpa.label(class="form-control-label") }} {% if
    form.cgpa.errors %} {{ form.cgpa(class="form-control
    is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.cgpa.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.cgpa(class="form-control") }} {% endif %}
  </div>

  <div class="form-group">{{ form.submit(class="mt-3 btn btn-primary") }}</div>
</form>
{%endblock%}
